.project-icons {
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    justify-items: center;
    align-items: center;
}

.project-icons i {
    color: #fff;
    font-size: 2rem;
    transition: transform 0.3s, color 0.3s;
}

.project-icons i:hover {
    transform: scale(1.2);
    color: #afeeee;
}
