.project-info {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background: linear-gradient(to top, rgba(0,0,0,0.85), rgba(0,0,0,0.7));
    color: #fff;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    transition: height 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 2;
}

.project-info h3 {
    font-family: "Bitcount Prop Single", system-ui;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    margin: 0;
    font-size: 1.0rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s 0.1s, transform 0.3s 0.1s;
}

.project-info ul {
    list-style: disc;
    padding-left: 20px;
    margin: 10px 0;
    color: #fff;
    text-align: left;
}

.project-info ul li {
    margin-top: 10px;
    font-size: 1rem;
    text-decoration: none;
}

.project-info a {
    margin: 0 10px;
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
    transition: color 0.2s;
}

.project-info a:hover {
    color: #222;
}