.Coursework {
    width: 100%;
    border-radius: 18px;
    font-family: 'Playfair Display', serif;
}

.Coursework > div {
    display: flex;
    gap: 10%;
    flex-wrap: wrap;
}

.coursework-category {
    flex: 1 1 300px;
    min-width: 260px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

.coursework-category h3 {
    font-size: 1.3rem;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    margin-bottom: 10px;
}

.coursework-category .AnimatedList {
    width: 100%;
}

@media (max-width: 900px) {
    .Coursework > div {
        gap: 18px;
    }
    .coursework-category {
        min-width: 200px;
        padding: 16px 8px;
    }
}

