.contact {
    padding: 2% 5% 2% 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    flex-wrap: wrap;
}

.social-icons {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    flex-wrap: wrap;
}

.contact-left {
    flex-basis: 30%;
    min-width: 260px;
    margin-bottom: 24px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1.5fr;
}

.contact-right {
    flex-basis: 60%;
    min-width: 280px;
}

.contact-left p {
    margin-top: 30px;
}

@media (max-width: 900px) {
    .contact {
        flex-direction: column;
        padding: 1rem;
        gap: 2rem;
        align-items: stretch;
    }

    .contact-left, .contact-right {
        flex-basis: 100%;
        min-width: unset;
        margin-bottom: 0;
    }

    .contact-left p {
        margin-top: 15px;
    }

    .social-icons {
        justify-content: flex-start;
        gap: 14px;
        flex-wrap: wrap;
    }
}

@media (max-width: 600px) {
    .contact {
        padding: 0.5rem;
        gap: 1rem;
    }
    .contact-left, .contact-right {
        padding: 0;
    }
    .social-icons {
        gap: 10px;
    }
}

.social-icons #resume {
    position: relative; 
}

.social-icons #resume::after {
    content: "Resume 12/2025";
    display: none;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--airforce-blue);
    color: black;
    padding: 5px;
    border-radius: 2px;
    white-space: nowrap;
    font-size: 14px;
    margin-bottom: 5px; /* Add some space between button and tooltip */
    z-index: 1000; /* Ensure tooltip appears above other elements */
}

.social-icons #resume:hover::after {
    display: block;
    color: white;
}