.social-icon a{
    text-decoration: none;
}

.social-icon i {
    display: inline-flex;
    background: transparent !important;
    align-items: center;
    justify-content: center;
    margin: 0 8px;
    font-size: 5rem;
    text-decoration: none;
    transition: all 0.3s ease;
}

.social-icon i:hover {
    color: var(--celadon);
    transform: translateY(-2px);
    font-size: 4.5rem;
}

.social-icon i:active {
    color: var(--bone);
}