html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  height: 100%;
  width: 100%;
  margin-top: 80px;
  position: relative;
  overflow: flow; 
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  font-family: inherit;
  line-height: 1.6;
}
