.experience {
    width: 100%;
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
    padding: 5% 5% 5% 5%;
    display: grid;
    grid-template-columns: repeat(2, minmax(350px, 1fr));
    gap: 20%;
}

@media screen and (max-width: 900px) {
  .experience {
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    gap: 25px;
    padding: 25px 3%;
  }
}

@media screen and (max-width: 768px) {
  .experience {
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 20px 5%;
    max-width: 500px;
  }
}

@media screen and (max-width: 480px) {
  .experience {
    padding: 15px 3%;
    gap: 25px;
  }
}

