.experience-icons {
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    justify-items: center;
    align-items: center;
}

.experience-icons i {
    color: var(--color-primary);
    font-size: 3rem;
    transition: transform 0.3s, color 0.3s;
}
